# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Doxygen generated docs
documents/*
!documents/.gitignore
documents/*/*
!documents/*/.gitignore
